.container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.post {
    cursor: pointer
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.search-bar select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.search-bar input {
    padding: 6px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.search-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.search-button:hover {
    background: #0056b3;
}

.board-actions {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 15px;
}

.board table {
    width: 100%;
    border-collapse: collapse;
}

.board th, .board td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

.board th {
    background: #f4f4f4;
}

.write-button {
    background: #28a745;
    color: white;
    border: none;
    width: auto;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.write-button:hover {
    background: #218838;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 15px 0;
}

.page-button {
    background: #f1f1f1;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.page-button:hover {
    background: #ddd;
}