.calendar {
    width: 300px;
    margin: 1px auto;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 15px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0; /* 위아래 간격 줄이기 */
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 14.2%;
    padding: 2px 3px; /* 숫자 위아래 간격 줄이기 */
    text-align: center;
    border: 1px solid #ddd;
    height: 30px; /* 칸 높이 줄이기 */
    font-size: 14px;
}

.calendar thead th {
    padding: 2px 0; /* thead 위아래 간격 줄이기 */
    font-size: 13px;
}

.prev, .next {
    cursor: pointer;
    font-weight: bold;
}

button {
    width: 95%;
    height: 95%;
    border: none;
    background: none;
    font-size: 0.97em;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.schedule-dot {
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: red;
  border-radius: 50%;
  margin-left: 4px;
  vertical-align: middle;
}
